<nav class="navbar navbar-expand-lg navbar-light fixed-top background-nav">
    <div class="container">
        <a style="color: darkblue" class="navbar-brand" href="/">To Do List App</a>
        <a href="/"><img src="{{ asset('img/Logo_OpenClassrooms.png') }}" alt="OpenClassrooms"/></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor03">
            <ul class="navbar-nav mr-auto">
                {% if is_granted('ROLE_ADMIN') %}
                    <li>
                        <a style="color: darkblue" class="nav-link" href="{{ path('user_list') }}">Gérer les utilisateurs</a>
                    </li>
                {% endif %}
                    <li>
                        <a style="color: white" class="nav-link btn btn-primary" href="{{ path('user_create') }}">Créer un utilisateur</a>
                    </li>
                    <li>
                        {% if app.user %}
                        <a style="color: white" class="nav-link btn btn-danger" href="{{ path('logout') }}">Se déconnecter</a>
                        {% endif %}
                    </li>
            </ul>
        </div>
    </div>
</nav>