{% extends 'base.html.twig' %}

{% block header_title %}
    <h4 style="text-align: center">Bienvenue sur Todo List, l'application vous permettant de gérer l'ensemble de vos tâches sans effort !</h4>
{% endblock %}

{% block body %}
    <div class="row mb-3">
        <div class="col-lg-12 col-md-12 col-xs-auto">
        <img class="img-fluid" src="{{ asset('img/todolist_homepage.jpg') }}" alt="todo list">
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-12 col-xs-auto">
        <a href="{{ path('task_create') }}" class="btn btn-success">Créer une nouvelle tâche</a>
        </div>
        <div class="col-lg-4 col-md-12 col-xs-auto">
        <a href="{{ path('task_list') }}" class="btn btn-info">Consulter la liste des tâches à faire</a>
        </div>
        <div class="col-lg-4 col-md-12 col-xs-auto">
        <a href="" class="btn btn-warning">Consulter la liste des tâches terminées</a>
        </div>
    </div>
{% endblock %}
