{% extends 'base.html.twig' %}

{% block body %}
    <h3>Se connecter <i class="fas fa-sign-in-alt"></i></h3>
        <div class="row justify-content-md-center">
            <p style="text-align: center"><img class="slide-image" src="{{ asset('img/todolist_content.jpg') }}" alt="Responsive image"></p>
            <div class="col-lg-4 col-md-12 col-sm-auto">
                <form action="{{ path('login_check') }}" method="post">
                    <fieldset>
                        <div class="form-group">
                            <label for="username">Nom d'utilisateur</label>
                            <input type="text" class="form-control" id="username" name="_username" placeholder="Entrer votre nom d'utilisateur">
                        </div>
                        <div class="form-group">
                            <label for="password">Mote de passe</label>
                            <input type="password" class="form-control" id="password" name="_password" placeholder="Entrer votre mot de passe">
                        </div>
                        <button class="btn btn-primary" type="submit">Se connecter</button>
                        <button class="btn btn-danger" type="reset">Effacer</button>
                    </fieldset>
                </form>


            </div>
        </div>
        <div class="row justify-content-md-center">
            <div class="col-lg-4 col-md-12 col-xs-auto mt-3">
                {% if error %}
                    <div class="alert alert-dismissible alert-danger">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <strong>{{ error.messageKey|trans(error.messageData, 'security') }}</strong>
                    </div>
                {% endif %}
            </div>
        </div>


{% endblock %}
