{% extends 'base.html.twig' %}

{% block body %}
        <div class="row justify-content-md-center">
            <p style="text-align: center"><img class="slide-image" src="{{ asset('img/todolist_homepage.jpg') }}" alt="Responsive image"></p>
            {% if error %}
                <div class="alert alert-danger" role="alert">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
        </div>
    <div class="row justify-content-md-center">
            <form action="{{ path('login_check') }}" method="post">
                <label for="username">Nom d'utilisateur :</label>
                <input type="text" id="username" name="_username" value="{{ last_username }}" />

                <label for="password">Mot de passe :</label>
                <input type="password" id="password" name="_password" />

                <button class="btn btn-success" type="submit">Se connecter</button>
                <button class="btn btn-danger" type="reset">Effacer</button>
            </form>
        </div>


{% endblock %}
